/* GLOBAL */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Mukta Mahee', sans-serif;
  }
  
  p {
    line-height: 1.5;
  }
  
  section {
    padding: 80px 20px;
  }
  
  ul { 
    margin: 0;
    padding-left: 20px;
    line-height: 1.5;
  }
  
  li { 
    margin-bottom: 5px;
  }
  
  
  /* ----- MENU -------- */ 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  header img {
    max-width: 40px;
  }
  
   
  
  .current {
    color: rgb(240, 187, 120);  
  
  }

  /*  
rgb(255, 240, 220)
rgb(240, 187, 120)
rgb(84, 58, 20)
rgb(19, 16, 16) */
  
  @media all and (min-width:500px) {
    header img {
      max-width: 60px;
    }
    
      header a {
      font-size: 16px;
    }
  }
  
  /*---------- Landing Page -----------*/
  .landing-hero-wrapper  {
    padding: 0;
  }
  
  .landinghero {
    display: grid;
    grid-template-rows: 3fr 1fr;
  }
  
  /* pink background */
  .landinghero-bg {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  
  /* header and image */
  .landinghero-content {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      display: grid;
      width: calc(100% - 40px); /* 100% minus the padding on sides) */
      max-width: 900px;
      justify-self: center;
      margin: 50px 0;
  }
  
  .landinghero-content h1 {
    /* font-size: 96px; */
    font-size: calc(0.5rem + 10vmin);
    margin:0;
    line-height: 0.5;
    grid-row: 1;
  }
  
  .landinghero-content h2 {
    /* font-size: 72px; */
    font-size: calc(0.5rem + 9vmin);
    margin:0;
    font-weight: 200;
    letter-spacing: 5px;
  }
  
  .landinghero-content span {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    grid-row: 2;
    margin-bottom: 100px;
  }
  
  .landinghero-content h3 {
    /* font-size: 28px; */
    font-size: calc(0.5rem + 2vmin);
    line-height: 0.5;
    font-family: 'Alegreya', serif;
    justify-self: end;
    width:70%;
    text-align: right;
  }
  
  .landinghero-content span hr {
    position: relative;
    border: 0;
    height: 1px;
    background: black;
  }
  
  .landinghero-content img {
    width: 70%;
    max-width: 400px;
    justify-self: end;
    grid-column: 1;
    grid-row: 3
  }
  
  /* Arrow end */
  .landinghero-content span hr:after {
    position: absolute;
    left: -23px;
    top: -10px;
    content: "";
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: rotateZ(-45deg);
  } 
  
  .landing-bottomleft_deco {
      position: relative;
      align-self: end;
      height: 70%;
      width: 20%;
      max-width: 300px;
      border-bottom: 1px solid #000000;
      border-left: 1px solid #000000;
      grid-column: 1;
      grid-row: 3;
  }
  
  /* Arrow 1 */
  .landing-bottomleft_deco:before {
    position: absolute;
    left: 20%;
    bottom: -11px;
    content: "";
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: rotateZ(-45deg);
  } 
  
  /* Arrow 2 */
  .landing-bottomleft_deco:after {
    position: absolute;
    left: 40%;
    bottom: -11px;
    content: "";
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: rotateZ(-45deg);
  } 
  
  /* Arrow 3 - just added a span! */
  .landing-bottomleft_deco span:before {
    position: absolute;
    left: 60%;
    bottom: -11px;
    content: "";
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: rotateZ(-45deg);
  } 
  
  
  /* stop paragraphs from growing */
  .width-wrapper {
    max-width: 600px;
    margin: auto;
  }
  
  .width-wrapper p {
    padding-left: 40px;
  }
  
  
  /* decoration for headers */
  .slash-deco {
    position:relative;
    z-index:1;
  }
  
  .slash-deco:before {
    position: absolute;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95802/geenay-abouth2-deco.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: -5px;
    top: -25%;
    bottom: -10px;
    content: "";
    width: 25px;
    height: 200%;
    z-index:-1;
  } 
  
  
  /* colorw */
  .gray    { color: #F4F4F4 }
  .graybg  { background-color: #F4F4F4; }
  .gray2   { color: #8A8686; }
  .graybg2 { background-color: #8A8686; }
  .pink    { color: #FF87A3; }
  .pinkbg  { background-color: #FF87A3; }
  .dark    { color: #302D2D; }
  .darkbg  { background-color: #302D2D; }
  
  
  /* footer */
   